<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/peso_10892452"
        android:label="@string/app_name"
        android:roundIcon="@drawable/peso_10892452"
        android:supportsRtl="true"
        android:theme="@style/Theme.Midterms">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoadActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPinActivity"
            android:exported="false" />
        <activity
            android:name=".SetupProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoadNewActivity"
            android:exported="false" />
        <activity
            android:name=".UpcomingRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".SendActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmSendActivity"
            android:exported="false" />
        <activity
            android:name=".ReceiveQrActivity"
            android:exported="false" />
    </application>

</manifest>